<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/layout.css}" rel="stylesheet">
    <div class="footer" th:fragment="footer">
        <div class="footer1">
            <ul class="footer1-1">
                <li><a href="">Text1</a></li>
                <li><a href="">Text2</a></li>
                <li><a href="">Text3</a></li>
                <li><a href="">Text4</a></li>
                <li><a href="">Text5</a></li>
            </ul>
            <div class="footer1-2">
                Lorem Ipsum is simply dummy text of the printing and<br>
                typesetting industry. Lorem Ipsum has been the industry's standard dummy <br>
                text ever since the 1500s, when an unknown printer took a<br> 
                galley of type and scrambled it to make a <br>
                type specimen book.<br> 
                It has survived not only five centuries, but also the leap <br>
                into electronic typesetting, remaining 
            </div>
        </div>
    </div>
</html>