@charset "utf-8";

*{margin: 0;padding: 0;}
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: rgb(20, 20, 20);
    background-image:url('../img/background_img.png');
    background-size: cover;
  }
ul, ol{list-style: none;}
img{vertical-align: top; border: 0;}
a{text-decoration: none; color: rgb(20, 20, 20);}

.container {
    position: relative;
    width: 500px;
    height: 640px;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
    padding-top: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.email {
    width: 150px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
    margin: 5px 0;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.test {
    width: 200px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 14px;
    border-radius: 10px;
    box-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#userGender{
    margin: 5px 10px;
}

select {
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: 0;
    outline: none;
    padding: 0 10px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn{
    font-size: 14px;
    border: 0;
    margin-bottom: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
}

.btn:hover{
    background-color: rgb(245, 194, 255);
    transition: 0.6s;
    color: rgb(142,32,149);
}